<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    <title>Exploits</title>

    <!-- ANIMATED BACKGROUND -->
    <script type="module" src="/static/retrowave-scene-master/demo.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/retrowave-scene-master/demo.css" />
    <!-- ANIMATED BACKGROUND -->

    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/98.css">
    <link rel="stylesheet" href="/static/css/98-style.css">

    <script src="/static/js/jquery-3.7.0.js"></script>

    <style>
        body {
          cursor: url("/static/img/xp_cursor_64x64.png"), auto;
        }
    </style>

</head>

<body>
    <div class="window d-flex h-100" style="flex-direction: column;">
        <div class="title-bar">
            <div class="title-bar-text">Midnight Project</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body d-flex h-100" style="flex-direction: column;">
            <menu role="tablist" style="height: 30px;">
                <li role="tab"><a href="#tabs">Dashboard</a></li>
                <li role="tab"><a href="/teams">Teams</a></li>
                <li role="tab" aria-selected="true"><a href="#">Exploits</a></li>
                <li role="tab"><a href="#tabs">Performance</a></li>
            </menu>

            <div class="window h-100 d-flex" role="tabpanel" style="flex-direction: column;">
                <div class="window-body h-100">
                    <!-- ANIMATED BACKGROUND -->
                    <div id="retrowaveSceneContainer" style="margin: 25px;"></div>
                    <!-- ANIMATED BACKGROUND -->

                    <div class="row" style="padding: 40px; height: calc(100% - 80px);">
                        <div class="col-1"></div>
                        <div class="col-2 h-100">
                            <div class="h-100">
                                <div class="h-100">
                                    <div class="window h-100 d-flex" style="flex-direction: column;">
                                        <div class="title-bar">
                                            <div class="title-bar-text">Exploits</div>
                                        </div>
                                        <div class="row"
                                            style="margin: 8px 0; margin-top: 8px; margin-bottom: 0 !important;">
                                            <div class="col-6">
                                                <button class="w-100">Click me</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="w-100">Click me</button>
                                            </div>
                                        </div>
                                        <div class="window-body h-100" style="overflow-y: auto;">
                                            {% for exploit in exploits %}
                                            <div class="entry" id="{{ exploit.id }}">
                                                <p class="team-text-pri">{{ exploit.name }}</p>
                                                <p class="team-text-sec">{{ exploit.author }}</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <div class="window">
                                    <div class="title-bar">
                                        <div class="title-bar-text">Exploit Editor</div>
                                    </div>
                                    <div class="window-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="field-row">
                                                    <label for="text17">Name</label>
                                                    <input id="text17" type="text" class="w-100" />
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <button class="w-100">Run</button>
                                            </div>
                                            <div class="col-2">
                                                <button class="w-100">Stop</button>
                                            </div>
                                            <div class="col-2">
                                                <button class="w-100">Save</button>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <div class="field-row-stacked w-100">
                                                <label for="exploitCode">Exploit code</label>
                                                <textarea rows="45" wrap="off" style="resize: none;"
                                                    id="exploitCode"></textarea>
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col-6">
                                                <div class="field-row w-100">
                                                    <label for="threads">Threads</label>
                                                    <input id="threads" type="number" class="w-100" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="field-row w-100">
                                                    <label for="timeout">Timeout</label>
                                                    <input id="timeout" type="number" class="w-100" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 h-100">
                            <div class="h-100 w-100">
                                <div class="h-100">
                                    <div class="window h-100 d-flex" style="flex-direction: column;">
                                        <div class="title-bar">
                                            <div class="title-bar-text">Teams</div>
                                        </div>
                                        <div class="row"
                                            style="margin: 8px 0; margin-top: 8px; margin-bottom: 0 !important;">
                                            <div class="col-6">
                                                <button class="w-100">Click me</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="w-100">Click me</button>
                                            </div>
                                        </div>
                                        <div class="window-body overflow-y h-100" style="overflow-y: auto;">
                                            {% for team in exploits %}
                                            <div class="entry" id="{{ team.id }}">
                                                <p class="team-text-pri">{{ team.name }}</p>
                                                <p class="team-text-sec">{{ team.author }}</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="status-bar">
            <p class="status-bar-field">Press F1 for help</p>
            <p class="status-bar-field">Slide 1</p>
            <p class="status-bar-field">CPU Usage: 14%</p>
        </div>
    </div>




    <script>
        let selected = undefined;

        //$(".entry").each((i, el) => {
        //    $(el).click(async () => {
        //        if (selected) {
        //            $(selected).removeClass("entry-active");
        //        }
        //        $(el).addClass("entry-active");
        //        selected = el;
        //        await loadEdit($(el).prop("id"))
        //        $("#teamEditBtn").removeAttr("disabled")
        //        $("#teamDeleteBtn").removeAttr("disabled")
        //    })
        //})

        $("#teamAddBtn").click(async () => {
            try {
                let data = {
                    "name": $("#name").val(),
                    "ip": $("#ip").val()
                }

                let response = await $.ajax({
                    url: "/teams",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    dataType: "json"
                });

                location.reload();
            } catch (ex) {
                console.error(ex)
            }
        });

        $("#teamEditBtn").click(async () => {
            try {
                let data = {
                    "name": $("#name").val(),
                    "ip": $("#ip").val()
                }

                let response = await $.ajax({
                    url: "/teams/" + $(selected).prop("id"),
                    method: "PATCH",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    dataType: "json"
                });

                location.reload();
            } catch (ex) {
                console.error(ex)
            }
        });

        $("#teamDeleteBtn").click(async () => {
            try {
                let response = await $.ajax({
                    url: "/teams/" + $(selected).prop("id"),
                    method: "DELETE"
                });

                location.reload();
            } catch (ex) {
                console.error(ex)
            }
        });

        async function loadEdit() {
            try {
                let data = {
                    "name": $("#name").val(),
                    "ip": $("#ip").val()
                }

                let response = await $.ajax({
                    url: "/teams/" + $(selected).prop("id"),
                    method: "GET"
                });

                console.log(response)

                $("#name").val(response.name)
                $("#ip").val(response.ip)
            } catch (ex) {
                console.error(ex)
            }
        }
    </script>
</body>

</html>